@font-face {
    font-family: "Kimberley";
    src: url(../fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
}
.action.btn.new{
    /*width: 10rem;*/
    /*height: 4rem;*/
    background: var(--paper-blue-700);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    border-top: thin solid rgba(255,255,255,0.5);
    border-left:thin solid rgba(255,255,255,0.5);
    border-bottom: thin solid rgba(0,0,0,0.2);
    border-right: thin solid rgba(0,0,0,0.2);
    max-width:8em;
}
.active{
    background: rgba(255,255,255,0.75);
    border-radius: 0.2rem;
    text-decoration: none;
}
button{
    background: var(--paper-blue-700);
    color: white;
    padding: 0.5em 1em;
    font-weight: 300;
}
.buttons *{
    display:inline-block;
}
.buttons a,
.buttons a:link,
.buttons a:visited{
    color:black;
    padding-left:1em;
}
.submit-validation-failed fx-alert{
    display:inline-block;
}
.isEmpty[required] input{
    background:lightyellow;
}
input{
    border:thin solid #ddd;
}
fx-trigger#newPage{
    margin:0 auto;
}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: "Kimberley";
    margin:0;
    /*background: linear-gradient(to right, rgba(19, 40, 115, 0.8), rgba(19, 120, 255, 0.8));*/
}
fx-fore{

}
fx-group[ref="page"]{
    display:block;
    margin:2em auto;
    border:thin solid #efefef;
    padding:1em;
    width:40em;

}
fx-group[ref="page"] *{
    font-size:1em;
}
fx-group[ref="page"] fx-control,
fx-group[ref="page"] fx-trigger{
    display:inline-block;
    text-align:left;
    margin:1em 0;
}
fx-group[ref="page"] fx-control{
    display:flex;
    flex-wrap:wrap;
}
fx-group[ref="page"] fx-control label{
    width:40%;
}
fx-group[ref="page"] fx-control input{
    width:60%;
}
fx-control[required]::after{
    content:'';
;}
fx-control[required] label::after{
    content:'*'
}

.left-col{

}
demo-snippet{
    overflow: auto;
    height:fit-content;
}
demo-snippet h2{
    color: black;
}
em{
    font-weight: 900;
    /*text-decoration: underline;*/
}

.feature{
    background: white;
    /*background-color: #ffffff;*/
    padding: 2rem;
    margin: 1rem;
    color:var(--paper-grey-900);
    border-radius: 0.3rem;
    /*border-top: thin solid rgba(255,255,255,0.5);*/
    /*border-left:thin solid rgba(255,255,255,0.5);*/
    border-bottom: thin solid rgba(0,0,0,0.7);
    border-right: thin solid rgba(0,0,0,0.7);

    /*
    border-left:thin solid white;
    border-top: thin solid white;
    border-right: thin solid var(--paper-grey-700);
    border-bottom: thin solid var(--paper-grey-700);
    */
}
.feature > *{
    color:var(--paper-grey-900);
}

fx-fore{
    padding: 0;
}

footer .wrapper::before{
    content: '';
    display: none;
}
footer .col-header{
    padding-bottom: 1rem;
}
footer h4{
    margin:0;
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
}

.logo {
    /*
    width: 300px;
    margin: 0 auto;
    */
    filter:drop-shadow(1px 1px 1px ghostwhite);
    margin:0.5rem 0;
}

a.reference {
    color: var(--paper-blue-grey-900);
    font-size: 1.4rem;
    display: block;
}
.dash{
    height: 5px;
    background: black;
    width: 2em;
    border-radius:0.2em;
    transform:translateY(-38px) translateX(-10px);
    display:inline-block;

}
.github-corner{
    position:fixed;
    right:0;
    top:0;
    z-index:11;
    fill:#9e9e9e;
}
.github-corner:hover{
    fill: var(--paper-grey-900);
}
.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out;
}


h1{
    /*color:var(--paper-cyan-500);*/
    /*color:var(--paper-cyan-900);*/
    /*color:var(--paper-grey-900);*/
    color:black;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    margin-top:0;
}

h2,h3,h4{
    /*color:var(--paper-cyan-900);*/
    /*color:var(--paper-grey-900);*/
    /*color:var(--paper-blue-grey-700);*/
    color:white;
}
h2.outer{
    padding: 1rem;
}
h3{
    font-weight: 700;
    font-size:1.4rem;
}
header, footer{
    /*background: rgba(248, 248, 255,0.86) ;*/
    padding:2rem 0;
}
main.wrapper{
    margin-bottom:20em;
    overflow:auto;
}
header{
    width: 100%;
    position: relative;
    z-index: -1;
    background: rgba(248, 248, 255,0.26) ;
    margin-top:5rem;
    text-align:center;
    padding:3em 0 0;

}
footer{
    margin-top:2rem;
    border-top:thin solid rgba(255,255,255,0.5);
    background: rgba(248, 248, 255,0.95) ;
    position:fixed;
    bottom:0;
    width:100%;
    padding: 2rem 0;
    z-index:10;
}

.learn{
    margin-left:1rem;
    font-size: 1.4rem;
}
.logo{
    width: 200px;
}
.logo.fore{
    filter:contrast(2.5) brightness(1.2) drop-shadow(1px 2px 1px lightgrey);
}
.logo.jinntec{
    margin:0.3rem 0;
}
.mission{
    /*color:var(--paper-grey-900);*/
    /*color:white;*/
    font-size: 2rem;
    margin-bottom: 1rem;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.6rem 0;
    background: linear-gradient(to right, rgba(19, 40, 115,1), rgba(19, 120, 255, 1));
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom:1px solid rgba(0,0,0,0.2);
    z-index:10;
    display:flex;
    justify-content:center;
    align-items:center;
}

nav a, nav a:link, nav a:visited{
    color: white;
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
}
nav a[disabled]{
    color:black;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.teaser{
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

p {
    /*color: white;*/
    /*color:var(--paper-grey-900);*/
    color:white;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

section {
    /*background: rgba(255, 255, 255, 0.5);*/
    width: 100%;
    border-radius: 1rem;
}

section > div {
    padding: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
    opacity: 0.4;
}
.samples{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:1rem;
    overflow: auto;
}
.style-hint{
    text-align: center;
}
.subline{
    font-size: 0.9rem;
}

.teaser-text{
    font-size: 1.2rem;
}
.wrapper {
    max-width: 1260px;
    min-height: auto;
    z-index: 5;
    /*background: rgba(100, 100, 100, 0.1);*/
    background: transparent;
    /*background: white;*/
    padding: 1rem;
    border-radius:0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top:1rem;
}

ul a, ul a:link, ul a:visited{
    color:black;
}
ul li{
    padding-bottom: 1rem;
}
.updated{
    position: relative;
}
.updated::before{
    position:absolute;
    content:' ';
    width:1rem;
    height: 1rem;
    background: yellowgreen;
    border-radius: 50%;
    top:0;
    right:0;

}
.inline.updated::before{
    position: relative;
    display: inline-block;
}
.version{
    display: block;
    margin-top: -1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
}


@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }

}

@media (max-width: 768px) { /*breakpoint*/
    .samples {
        grid-template-columns: none;
    }
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
